.single-article {
  padding: 5px;
  border: 2px solid black;
  background-color: #585a00;
  margin-bottom: 1em;
}

.articles {
  margin-top: 1em;
}

.article-title {
  color: #959300;
  cursor: pointer;
  text-decoration: underline
}

.article-title:hover {
  color: #dcd300;
}

.article-title:visited {
  color: #272700;
}

.drop-down {
  margin-bottom: 1em;
}
